.aboutme-page {
  padding: 200px 0 100px 0;
  display: flex;
  gap: 5vw;
  justify-content: center;
  align-items: end;
}

.aboutme-page img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  border: solid #968480 8px;
  object-fit: cover;
}

.description h2 {
  font-size: 70px;
  margin: 0px;
  line-height: 0.8em;
  color: white;
}

.description h3 {
  font-weight: 900;
  font-style: normal;
  font-size: 30px;
  margin: 0px 0 20px 0px;
  color: #968480;
  text-align: left;
}
.description p {
  margin: 0px;
  color: #e8d8d5;
  max-width: 450px;
}

/*1200px以下*/
@media screen and (max-width: 940px) {
  .aboutme-page {
    padding: 68px 0 24px 0;
    gap: 0vw;
    flex-direction: column-reverse;
    align-items: center;
  }

  .aboutme-page img {
    width: 20rem;
    height: 20rem;
  }

  .description h3 {
    text-align: center;
  }
  .description h2 {
    font-size: 60px;
  }
  .description p {
    margin: 10px;
  }

  .description {
    position: static;
    top: 0px;
    text-align: center;
    margin-top: 20px;
  }
}

/*834px以下*/
@media screen and (max-width: 820px) {
}
