.coding-page {
  padding: 0px 0 100px 0;
  width: 80%;
  margin: auto;
}

.coding-title {
  text-align: center;
  font-size: 70px;
  color: #434343;
  margin-bottom: 100px;
}

.coding-page h3 {
  font-size: 35px;
  color: #d88b79;
  margin-bottom: 16px;
}

.coding-page h2 {
  font-size: 1em;
  color: #d88b79;
  margin-bottom: 16px;
}

.coding-page p {
  color: #e8d8d5;
  max-width: 450px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.coding-page a {
  font-size: 15px;
  background: #968480;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  transition: 2s;
  padding: 6px 13px 6px 13px;
}

.coding-page a:hover {
  transition: 1s;
  background: #d88b79;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.react-tabs__tab {
  font-size: 17px;
  border: none;
  border-bottom: none;
  bottom: 0px;
  width: 200px;
  height: fit-content;
  background: #d88b79;
  color: #ffffff;
  transition: 2s;
  text-align: center;
}

.react-tabs__tab--selected {
  background: #fff;
  color: #864031;
  transition: 2s;
}

.react-tabs__tab-list {
  margin: auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-bottom: 5px solid #fff;
}

.react-tabs__tab-panel--selected {
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .coding-page {
    padding: 0 0 68px 0;
    width: 95%;
  }
  .coding-title {
    position: static;
    text-align: center;
    font-size: 55px;
    margin-bottom: 70px;
  }

  .react-tabs__tab-list {
    gap: 1.5vw;
    margin-bottom: 30px;
  }
}

#projects-page h2 {
  text-align: center;
  font-size: 70px;
  margin: 0;
  padding: 76px;
  color: #434343;
}

.project-card {
  max-width: 700px;
  margin: 0 auto 86px auto;
  border: #434343 solid 1px;
  text-align: center;
  padding: 4em 0;
}

.project-card h3,
.project-card h3:hover,
.project-card a,
.project-card a:hover {
  transition: 1s;
}

.project-card h3 {
  font-size: 35px;
  color: #675c59;
  margin: 0;
}

.project-card h3:hover {
  color: #d88b79;
}

.project-card a {
  border-bottom: solid #675c59 3px;
  color: #675c59;
}

.project-card a:hover {
  border-bottom: solid #d88b79 3px;
  color: #d88b79;
}

.project-card h4 {
  font-size: 1em;
  font-weight: 100;
}

.project-card p {
  padding: 0em 4em;
  margin: 0;
}

.project-card .information-label {
  max-width: fit-content;
  margin: 24px auto;
  font-size: 15px;
  background: #968480;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  transition: 2s;
  padding: 6px 13px 6px 13px;
}

@media screen and (max-width: 760px) {
  #projects-page h2 {
    font-size: 60px;
  }
}

@media screen and (max-width: 760px) {
  .project-card {
    max-width: 500px;
  }
  .project-card img {
    max-width: 400px;
  }
}

@media screen and (max-width: 540px) {
  .project-card {
    max-width: 350px;
  }
  .project-card img {
    max-width: 250px;
  }
  .project-card h3 {
    font-size: 24px;
  }
  .project-card {
    margin: 0 auto 46px auto;
  }
  #projects-page h2 {
    padding: 46px;
  }
}
