.intro-page {
  display: flex;
  justify-content: center;
  align-items: bottom;
  gap: 50px;
  color: white;
  margin: 140px 0 100px 0;
}

.intro-page h1 {
  font-family: "Inter-Black";
  font-size: 55px;
  margin: 0px;
  line-height: 1.55em;
}

.intro-page h2 {
  font-family: "Inter-Black";
  font-size: 30px;
  margin: 0px;
  line-height: 1em;
}

.intro-page h3 {
  font-family: "Inter-Regular";
  font-size: 20px;
  font-weight: normal;
  margin: 0px;
  line-height: 2em;
  color: #938578;
}

.intro-left {
  text-align: center;
  gap: 20px;
}

.coding-color {
  color: #b19b96;
}

@media screen and (max-width: 820px) {
  .intro-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    color: white;
    margin: 60px 0 60px 0;
  }
  .intro-page h3 {
    font-size: 15px;
  }
  .intro-page h1 {
    font-size: 40px;
    margin-top: 15px;
    line-height: 1.2em;
    text-align: center;
  }
}
