.webdesign-page {
  padding: 20px 0px 20px 0px;
}

.webdesign-page h2 {
  text-align: center;
  font-size: 70px;
  color: #434343;
  margin: 0;
}

.web-design-intro {
  margin: 0px 0px 50px 0px;
  text-align: center;
}

.webdesign-page p,
h3 {
  color: #544c49;
  text-align: center;
}

.web-title {
  font-size: 20px;
}
.websection-one {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
}

.websection-one h3 {
  color: #675c59;
  text-align: left;
  margin: 0px;
}

.websection-one p {
  text-align: left;
  margin-top: 0px;
  max-width: 580px;
}

.webdesign-page a {
  font-size: 15px;
  background: #968480;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  transition: 2s;
  padding: 6px 13px 6px 13px;
}
.read-more {
  text-align: center;
}

#otherprojects {
  width: 300px;
  margin: auto;
  height: fit-content;
  background: #434343;
  color: rgb(255, 255, 255);
  transition: 2s;
  font-size: 15px;
  border-radius: 8px;
  transition: 2s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 20px 0;
  margin-top: 50px;
}

.webdesign-page a:hover,
#otherprojects:hover {
  transition: 1s;
  background: #d88b79;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.brandimage {
  width: 580px;
  height: max-content;
  border-radius: 20px;
  border: solid #968480 8px;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#gallery {
  padding: 0 10px 0 10px;
}

@media screen and (max-width: 1100px) {
  .webdesign-page h2 {
    font-size: 60px;
    margin-bottom: 30px;
  }

  .web-design-intro p {
    margin: 16px 10px;
  }
  .websection-one {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0px 0px 20px 0px;
  }
  .websection-one h3 {
    text-align: center;
  }

  .websection-one p {
    text-align: center;
    width: 90%;
    margin: auto;
  }
  .brandimage {
    max-width: 580px;
    width: 90%;
  }

  .flexbox {
    flex-direction: column;
  }
}
